.checkout_product{
    display: flex;
}

.checkoutproduct_image{
    object-fit: contain;
    height: 180px;
    width: 180px;
    padding-left: 20px;
}

.checkoutproduct_info{
    padding-left: 20px;
    max-width: 700px;

}

.checkoutproduct_Rating{
    display: flex;
}
.checkoutproduct_title{
    font-size: 17px;
    font-weight: 800;
    text-align-last: left;
}
.checkoutproduct_info > button{
    background-color: #f0c14b;
    border: 1px solid ;
    margin-right: 70%
   
    
}
.checkoutproduct_price{
   display: flex;
}